.login{

    &__container{
        text-align: center;
        background-color: white;
        padding: 100px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);

        button{
            margin-top: 20px;
            background-color:#0a8d48 !important;
            color: white;
        }
    }
}