<div class="sidebar">
    <diV class="sidebar__header">
        <div class="sidebar__header--avatar">
            <img
                src="{{userImage}}">
        </div>
        <div class="sidebar__header--right">
            <span class="material-icons">
                donut_large
            </span>
            <span class="material-icons">
                chat
            </span>
            <span  class="material-icons">
                more_vert
            </span>
        </div>
    </diV>
    <diV class="sidebar__search">
        <diV class="sidebar__search--container">
            <span class="material-icons">
                search
            </span>
            <input type="text">
        </diV>
    </diV>
    <diV class="sidebar__chats">
        <app-sideba-chat (click) ="addNewRoom()" [addNew] = true ></app-sideba-chat>
        <app-sideba-chat (click)= "setRoomId(element.id)" *ngFor ="let element of arrRoomData " [lastMessage]= lm [roomName]= "element.name" ></app-sideba-chat>
    </diV>
</div>